.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px); 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;


    &__logo {
        width: 80px;
        margin-left: 1.5vw;
        cursor: pointer;
        transition: transform 1s;

        &:hover {
          transform: rotateY(360deg) scale(120%);
        }
    }

    &__nav {
      margin-right: 5.6vw;

        ul {
            list-style: none;
            display: flex;
            li {
                a {
                    position: relative; 
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.5em;
                    color: #fff;
                    text-decoration: none;
                    font-weight: 700;
                    margin-left: 50px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    z-index: 1;
            
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        height: 15px;
                        left: -20px;
                        width: 100%;
                        padding: 10px 20px;
                        background-color: #fff;
                        border-radius: 5px;
                        transform-origin: right center; 
                        transform: scaleX(0);
                        transition: transform .65s;
                        z-index: -1; 
                    }
            
                    &:hover {
                        color: #000; 
                    }
            
                    &:hover::after {
                        background-color: #fff;
                        transform-origin: left center;
                        transform: scaleX(1);
                    }
                }
            }
        }



    }
}
