.work {

    &__filters {
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 7.5px;
        padding-top: 80px;
        font-family: 'Mitr', sans-serif;
        font-weight: bold;
    }

    &__container {
        gap: 60px;
        display: grid;
        padding-top: 40px;
        justify-content: center;
        grid-template-columns: repeat(3, 640px);
    }

    &__card {

        &__description {
            display: none;
            transition: 1s ease-in-out;
        }

        &__cover {
            max-width: 100%;
            border-radius: 8px;
            opacity: .75;
            transition: .3s ease-in;
            cursor: pointer;

            &:hover {
                transform: scale(110%);
                opacity: 1;
            }
        }
    }
}

.work__desc-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 1s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);

    img {
        width: 640px;
        border-radius: 10px;
    }

    h3 {
        font-size: 2em;
        font-weight: 400;
        text-align: center;
        margin: 25px auto;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    p {
        font-size: 1.5em;
        width: 55%;
        font-weight: 500;
        text-align: center;
    }

    ul {
        list-style: none;
        text-align: center;
        margin-top: 20px;

        a {
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 8px;
            padding: 5px 15px;
            border: none;
            outline: none;
            background: #fff;
            color: #000;
            font-weight: 700;

            &:hover {
                color: #fff;
                background: transparent;
                border: 1px solid #fff;
            }
        }

        li {
            font-size: 1.2em;

            span {
                font-weight: 700;

                img {
                    width: 25px;
                    margin-bottom: -10px;
                }
            }
        }
    }
}